body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: url("./images/mario-bg.jpg");
    background-size: cover;
}

#board {
    /* background-color: green; */
    width: 540px;
    height: 540px;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    background: url(./images/soil.png);
    background-size: cover;
    border: 3px solid white;
    border-radius: 20px;
}