@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Prompt:wght@300;400&display=swap');

    body {
      font-family: 'Dancing Script', cursive;
      font-family: 'Prompt', sans-serif;
    }

    .hex-container {
      border: 1px solid black;
      text-align: center;
      width: 95%;
      height: 80vh;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 5%;
    }

    button{
      color: black !important;
    }

    .hex-colors {
      /* border: 1px solid black; */

      text-align: center;
      margin-top: -60px;
    }

    .hex-colors h1 {
      font-size: 2rem;
      text-transform: uppercase;
      animation: colorchange 5s infinite alternate;

    }

    .hex-colors h2 {
      border: 1px solid black;
      font-size: 2rem;

    }

    @keyframes colorchange {
      0% {
        color: indigo;
      }

      20% {
        color: blue;
      }

      40% {
        color: green;
      }

      60% {
        color: yellow;
      }

      80% {
        color: orange;
      }

      100% {
        color: red;
      }
    }