@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

main {
    width: 100%;
    height: 100vh;
    background-color: #b7c317c4;
    display: flex;
    justify-content: center;
}

.box {
    width: 600px;
    min-height: 500px;
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
}

.box h1 {
    text-align: center;
    margin: 5px;
    text-shadow: 2px 2px 5px grey;
    color: rgb(255, 94, 0);
}

#item {
    padding: 10px;
    width: 100%;
    border: 0;
    outline: 0;
    box-shadow: 0 0 2px grey;
    display: block;
    font-weight: bold;
}

#to-do-box {
    margin-top: 20px;
    list-style: none;
}

#to-do-box li {
    position: relative;
    background-color: #2c3e50;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    padding-right: 28px;
    text-align: justify;
    margin-top: 10px;
    user-select: none;
}

#to-do-box li i {
    position: absolute;
    right: 10px;
    top: 12px;
}

.done {
    text-decoration: line-through;
    color: black !important;
    background-color: #95a5a6 !important;
}