  
body{
    background: #17be78;
}

.quote-container{
    /* border: 1px solid black; */

    width: 95%;
    height: 70vh;
    display: flex;;
}

.quotes{
    
    width: 900px;
    height: 450px;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    color: rgb(15, 0, 89);
    background-color: rgb(232, 207, 207);
    border: 10px solid rgb(225, 207, 169);
}
button{
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}


div:nth-child(2) {
    text-align: center;
}

.quotes p, .quotes h3{
    font-size: 1.5rem;
}

@media(max-width:480px){
    .quotes p, .quotes h3{
        font-size: 1 rem;
    }
}