* {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  h1 {
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
  }
  
  .choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .choice:hover {
    cursor: pointer;
    background-color: #081b31;
  }
  
  img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
  }
  
  .score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
  }
  
  #user-score,
  #comp-score {
    font-size: 4rem;
  }
  
  .msg-container {
    margin-top: 5rem;
  }
  
  #msg {
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
  }

  #resetBtn {
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
  }

  #resultPara {
    /* display: inline; */
    font-size: 2rem;
    color: red;
  }

  #result {
    font-size: 2rem;
    color: purple;
  }

/* for small screens  */

@media(max-width:768px){
  .resp-cont{
    width: 98vw;
  }

  .choices{
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .choices {
    gap: 1rem;
  }

  .choice {
    height: 6.8rem;
    width: 6.8rem;
  }
  
  
  img {
    height: 6.5rem;
    width: 6.5rem;
  }
  
}

@media(max-width:380px) {
  .msg-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 3rem;
  }

  h1 {
    height: 5rem;
    line-height: 5rem;
  }

  .choices {
    gap: 1rem;
    margin-top: 2rem;
  }

  .choice {
    height: 6.8rem;
    width: 7rem;
  }
  
  
  img {
    height: 6rem;
    width: 6rem;
  }
}