
body {
    /* overflow: hidden; */
    background: linear-gradient(#f4f4ed, white);
}

.container {
    width: 95%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    /* border: 1px solid black; */

    width: 370px;
    margin: auto;
    border-radius: 10px;
    background: #f2f2f2;
    padding: 15px 15px 20px 20px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

}

#userInput {
    box-sizing: border-box;
    width: 100%;
    padding: 40px 8px;
    font-size: 1.2rem;
    background-color: whitesmoke;
    text-align: right;
    direction: ltr;
    outline: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border: none;
}


.btn {
    width: 24%;
    height: 45%;
    padding: 10px 0;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-top: 3px;
    background: linear-gradient(#e3e3e3, #ffffff);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2); /* Add box-shadow for depth */
    transition: transform 0.2s ease; /* Add smooth transition for transform */
}

.btnEqual {
    width: 99.2%;
    height: 45%;
    border-radius: 5px;
    padding: 10px 0;
    font-size: 1.2rem;
    border: none;
    outline: none;
    margin-top: 3px;
    background: linear-gradient(#e3e3e3, #ffffff);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2); /* Add box-shadow for depth */
    transition: transform 0.2s ease; /* Add smooth transition for transform */
}

.btn:hover, .btnEqual:hover {
    background-color: rgba(128, 128, 128, 0.1);
}

.btn:hover {
    transform: translateY(1px) scale(1.03); /* Add translateY for hover effect */
}

.btnEqual:hover {
    transform: translateY(1px) scale(1.03); /* Add translateY for hover effect */
}

@media(max-width:400px) {
    .btn {
        width: 23.4%;
    }
}

@media(max-width:320px) {
    .btn {
        width: 23%;
    }
}

